@model SampleASPCore.Models.Restaurant

@{
    ViewData["Title"] = "Edit";
}

<h4>Edit Restaurant</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        @if (ViewBag.Error != null)
        {
            <span class="alert alert-danger">@ViewBag.Error</span><br />
        }
        <form asp-action="Edit">
            @*<input type="hidden" name="username" value="Erick" />*@
            @*<div asp-validation-summary="ModelOnly" class="text-danger"></div>*@
            <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" readonly="readonly" />
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                @*<span asp-validation-for="Name" class="text-danger"></span>*@
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="GetData">Back to List</a>
</div>

