@model IEnumerable<SampleASPCore.Models.Restaurant>

@section MyCss {
    <link href="~/sbadmin2/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
}


<div class="card mb-4">
    <div class="card-header">
        Daftar Restaurant
    </div>
    <div class="card-body">
        @if (ViewBag.Pesan != null)
        {
            <span class="alert alert-success">@ViewBag.Pesan</span><br/><br/>
        }

        <a asp-action="Create" class="btn btn-success btn-sm">Create new Restaurant</a><br/><br />
        <table class="table table-bordered" id="dataTable">
            <thead>
                <tr>
                    <td>Id</td>
                    <td>Name</td>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.Name</td>
                        <td>
                            <a asp-action="Details" asp-route-id="@item.Id"
                               class="btn btn-xs btn-primary">details</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section Scripts {
    <!-- Page level plugins -->
    <script src="~/sbadmin2/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="~/sbadmin2/vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="~/sbadmin2/js/demo/datatables-demo.js"></script>
}