@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>About View</title>
</head>
<body>
    <h2>About View</h2>
    <p>Menambahkan About View</p>
</body>
</html>
