
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Home View</title>
</head>
<body>
    <h2>Hello ASP Core</h2>
    <p>Pelatihan ASP Core 3.0</p>
</body>
</html>
