@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Hasil View</title>
</head>
<body>
    <h2>Hasil Luas Segitiga</h2>
    <p>Hasil Luas Segitiga: @ViewData["hasil"]</p>
    <p>Username @ViewBag.Username</p>
</body>
</html>
